/* _________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS
8.BANNER header[role="banner"]
9.NAVIGATION nav[role="navigation"]
10.CONTENT
11.MAIN div[role="main"]
12.HOMESTUFF div[role="homestuff"]
13.CONTENTINFO footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display : block; }

abbr[title] {
border-bottom : 1px dotted;
cursor : help; }

/* 1.ROOT */

html {
overflow-y : scroll;
}

body {
  margin : 0 auto;
  width : 96.66% /* 252px */;
  font : 100%/1.4 "facitweb-1","facitweb-2", sans-serif;
  color: #696969;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#000), to(#211a00));
  background: -webkit-linear-gradient(left, #000 50%, #211a00);
  background: -moz-linear-gradient(left, #000 50%, #211a00);
  background: -ms-linear-gradient(left, #000 50%, #211a00);
  background: -o-linear-gradient(left, #000 50%, #211a00);
}

/* 2.HEADINGS */

h1,
h2 {
  font-weight : 800;
  font-style : normal;
}

h1 {
  margin-bottom : .25em;
  font-size : 180%; /* 48 / 16 = 3 */
  line-height : 1.2;
}

hgroup h1 {
  color: #696969;

}
h2 {
  margin-bottom : .25em;
  font-size : 160%; /* 36 / 16 = 2 */
  line-height : 1.2;
}

h3 {
  margin-bottom : 1em;
  font-size : 140%; /* 24 / 16 = 1.5 */
  line-height : 1.3;
}

/* 3.TYPOGRAPHY */

small {
  margin-bottom : 1.5em;
  font-size : 72%; /* 14 / 16 = .875 */
}

small {
  display : block;
}

ul {
list-style-type : none;
margin : 0 0 1.5em -16px;
padding-left : 1em;
}

li {
margin-bottom : .25em; }

li p {
font-size : 100%; /* 16 / 16 = 1 */ }

i,
em {
font-style : italic; }

pre,
code {
  font : 90% 'andale mono', 'lucida console', monospace;
  line-height : 1.5;
}

sup,
sub {
  position : relative;
  font-size : 75%;
  line-height : 0;
}

sup {
top : -.5em; }

sub {
bottom : -.25em; }

/* 4.LINKS */
/*9F5424*/
a,
a:link,
a:visited {
  outline : none;
  color : #696969;
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
    color : #6D430C;
}

a:active,
a:focus {
position : relative;
top : 1px;
outline : none;
color : rgb(255,255,255); }


/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */

/* 8.BANNER */

header[role="banner"] {

}

header[role="banner"] hgroup {
  text-align : center;
    opacity: .4;
}
.section-homepage header[role="banner"] hgroup {
  text-align : right;
  opacity: 1;
}

header[role="banner"] h1 + h2 {
  margin-top : -.75em;
  margin-bottom : 1em;
  font-family : "facitweb-1","facitweb-2",sans-serif;
  font-size : 1.5em; /* 24 / 16 = 1.5 */
  line-height : 1.3;
}

/* 9.NAVIGATION */

#topnav {
font-size: 165%;
display: block;
text-align: center;
}
#top-globalnav ul {
  list-style-type : none;
}
#top-globalnav li {
  display: inline;
  font-size: 80%;
}
#top-globalnav li a {
  padding: 0 0.33em;
}

ul#top-globalnav {
  margin: 0;
}
/*#leftcolumn {
  float: right;
  width: 31.999%;
  padding-top: 2.5em;
}
*/
.navlinks li {
list-style-type : none;
font-size: 200%;
text-align: right;
}

.section-homepage .navlinks li {
  display: list-item;
}

#leftcolumn h3 {
  font-size : 1em;
  margin-bottom : 0;
  }

#leftcolumn  li:last-child p {
margin-bottom : 0; }

#leftcolumn li {
  font-size: 110%;
  font-weight: 800;
  text-align: right;
}

#leftcolumn li a {
    text-decoration: none;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  border: none;
}
dl.portlet dt.hiddenStructure {
  background-color: transparent;
}
.icons-on .contenttype-document, .icons-on .contenttype-event, .icons-on .contenttype-folder, .icons-on .contenttype-link, .icons-on .contenttype-news-item, .icons-on .contenttype-plone-site, .icons-on .contenttype-collection, .icons-on .contenttype-topic, .icons-on #plone-contentmenu-factories .contenttype-file, .icons-on #plone-contentmenu-factories .contenttype-image  {
  background: none;
}

/* 10.CONTENT */


/*img.bg {
  height: auto;
  left: 0;
  min-width: 200px;
  position: fixed;
  top: 2%;
  left:1em;
  width: 50%;
  z-index: -1;
}
*/

img.bg {
  height: auto;
  left: 0;
  position: absolute;
  top: 2%;
  left: 4%;
  width: 50%;
  z-index: -1;
  opacity: .2;
}
.section-homepage img.bg {
  opacity: 1;
}
.section-homepage #leftcolumn {
width: 40%;
float: right;
}
/* 11.MAIN */
/*#main {
width : 64.67%;
float: left;
padding: 0 2.32%;
}
*/


/* 12.HOMESTUFF */

.quote {
  font-style: italic;
  margin-bottom: 0.25em;
  font-size: 120%;
  color: #6D430C;
}

.quote-by {
  text-align: right;
}
/* 13.CONTENTINFO */
/*
footer[role="contentinfo"] {
padding-top : 1.5em;
border-top : 10px solid rgb(39,46,54); }

footer[role="contentinfo"] ul {
list-style-type : none; }

footer[role="contentinfo"] li:nth-of-type(2) {
margin-bottom : 1em; }
*/
/* 14.GLOBAL OBJECTS */

.clearfix {
zoom : 1; }

.clearfix:before,
.clearfix:after {
content : "\0020";
display : block;
height : 0;
overflow : hidden; }

.clearfix:after {
clear : both; }

#frontQuotes {
  margin-top: 3em;
  background-color: rgba(0, 0, 0, 0.75);
  background-color: transparent;
}

/* 15.VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

a:link {
-webkit-tap-highlight-color : rgb(52,158,219); }

::-webkit-selection {
background : rgb(39,46,54);
color : rgb(250,250,250);
text-shadow : none; }

::-moz-selection {
background : rgb(39,46,54);
color : rgb(250,250,250);
text-shadow : none; }

::selection {
background : rgb(39,46,54);
color : rgb(250,250,250);
text-shadow : none; }

::-webkit-input-placeholder {
padding : 10px;
font-size : .875em;
line-height : 1.4; }

input:-moz-placeholder {
padding : 10px;
font-size : .875em;
line-height : 1.4; }

.ie7 img,
.iem7 img {
-ms-interpolation-mode : bicubic; }

div,
input,
textarea  {
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
box-sizing : border-box; }

/* 16.TEMPLATE SPECIFICS */

/* 17.MODERNIZR */

/* csstransitions */

.csstransitions a {
-webkit-transition : all .1s linear;
-moz-transition : all .1s linear;
-o-transition : all .1s linear;
transition : all .1s linear; }
/* No alternative */

/*
.multiplebgs {
background-image :
url(../img/shadow.png), url(../img/body.png);
background-repeat : repeat-x, repeat;
background-position : 0 0, 0 0; }
*/
@media print {
* {
background : transparent !important;
color : black !important;
text-shadow : none !important;
filter : none !important;
-ms-filter : none !important; }

a, a:visited {
color : #444 !important;
text-decoration : underline; }

a[href]:after {
content : " (" attr(href) ")"; }

abbr[title]:after {
content : " (" attr(title) ")"; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
content : ""; }

pre, blockquote {
border : 1px solid #999;
page-break-inside : avoid; }

thead {
display : table-header-group; }

tr, img {
page-break-inside : avoid; }

@page {
margin : .5cm; }

p, h2, h3 {
orphans : 3;
widows : 3; }

h2, h3 {
page-break-after : avoid; }
}/*/mediaquery*/

/* MEDIA QUERIES */

/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 480px) {

/* 1.ROOT */

body {
  width : 96.66% /* 436px */;
}

/* 2.HEADINGS */

/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

/* 8.BANNER */

header[role="banner"] h1 {
  font-size: 200%;
}


header[role="banner"] hgroup {
}


/* 9.NAVIGATION */
.navlinks {
  font-size: 100%;
}
/* 10.CONTENT */
/* 11.MAIN */
/* 12.HOMESTUFF */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */

/* 17.MODERNIZR */

}/*/mediaquery*/

/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {

/* 1.ROOT */

body {
width : 96.66% /* 712px */; }

/* 2.HEADINGS */

header[role="banner"] h1 {
  font-size: 280%;
}

/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */

#top-globalnav li {
    display: inline;
    font-size: 100%;
}

/* 10.CONTENT */

.content {
margin-bottom : 1.5em; }

/* 11.MAIN */

*[role="main"] p {
line-height : 1.3; }

/* 12.HOMESTUFF */


#frontQuotes {
  margin-top: 6em;
  font-size: 130%;
}



/* 13.CONTENTINFO */


/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/

/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {

/* 1.ROOT */

body {
width : 96.66% /* 896px */;
max-width : 1900px; }

/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

/* 8.BANNER */

header[role="banner"] {
  font-size: 200%;
 }

header[role="banner"] p {
font-size : 1.125em; /* 18 / 16 = 1.125 */ }

/* 9.NAVIGATION */
.navlinks li {
  font-size: 280%;
}

/* 10.CONTENT */

#frontQuotes {
  font-size: 140%;
}

/* 11.MAIN */

/**[role="main"] {
float : left;
width : 58.92%;
margin-bottom : 0;
border-bottom-width : 0; }
*/
*[role="main"] p {
line-height : 1.4;
}

/* 12.HOMESTUFF */

/* 13.CONTENTINFO */

footer[role="contentinfo"] .vcard {
width : 58.92%; /* 528 / 896 = .5892*/
margin-right : 0; }

footer[role="contentinfo"] small {
width : 38.39%; /* 344 / 896 = .3839*/ }

/* 14.GLOBAL OBJECTS */

/* 15.VENDOR-SPECIFIC */

.ie7 *[role="leftcolumn"] li.dl,
.ie8 *[role="leftcolumn"] li.dl {
padding-left : 0;
background-image : none; }

/* 16.TEMPLATE SPECIFICS */

/* 17.MODERNIZR */

}/*/mediaquery*/

/*1382px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 1382px) {

/* 1.ROOT */

body {
width : 96.66% /* 1356px */;
}
#container {
  max-width : 1600px;
}
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */

header[role="banner"] {

}


header[role="banner"] p {
font-size : .875em; /* 14 / 16 = .875 */ }

/* 9.NAVIGATION */
*[role="leftcolumn"] {
width : 31.34%; /* 252 / 804 = .31.34 */ }


/* 10.CONTENT */

.content {
  margin-bottom: 1.5em;
  margin-right: 1.76%;
  max-width: 1600px;
  padding-top: 0.75em;
  width: 99%;
}

/* 11.MAIN */

*[role="main"] {
width : 65.67%;  /* 528 / 804 = .6567 */ }

/* 12.HOMESTUFF */


/* 13.CONTENTINFO */

footer[role="contentinfo"] {
float : right;
width : 18.58%; /* 252 / 1356 = .1858 */
padding-left : 2%;
border-top-width : 0; }

footer[role="contentinfo"] .vcard,
footer[role="contentinfo"] small {
float : none;
width : 100%;
margin-right : 0; }

/* 14.GLOBAL OBJECTS */

/* 15.VENDOR-SPECIFIC */

header[role="banner"],
footer[role="contentinfo"] {
-webkit-box-sizing : border-box;
-moz-box-sizing : border-box;
-o-box-sizing : border-box;
box-sizing : border-box; }

/* 16.TEMPLATE SPECIFICS */

/* 17.MODERNIZR */

.borderradius *[role="leftcolumn"] ol {
-webkit-border-radius : 12px;
-moz-border-radius : 12px;
border-radius : 12px;
border-bottom-width : 0; }

.borderradius *[role="leftcolumn"] li.dl {
-webkit-border-radius : 12px;
-moz-border-radius : 12px;
border-radius : 12px; }

}/*/mediaquery*/

/*2x __________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.HOMESTUFF */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/


